<section class="bg-primary" id="now">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Now!</h2>
                <hr class="light">
                <p class="text-faded">We're showcasing an Augmented Reality prototype at <a href="https://www.facebook.com/events/551842578632870/" target="_blank" rel="noopener" rel="noreferrer">Globalworth District // Official Launch</a> on Thursday, February 28th!</p>
                <a href="#" class="btn btn-default btn-xl">Check it out!</a>
            </div>
        </div>
    </div>
</section>
