<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Modular Evolution in a nutshell</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-atom wow bounceIn text-primary"></i>
                    <h3>Educate</h3>
                    <p class="text-muted">Learn holistically. Shadow those with more experience, mentor those asking for guidance. Share your skills. Give back.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Collaborate</h3>
                    <p class="text-muted">Two pairs of eyes are better than one. Brainstorm. Delegate. Show up. Do your part.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-shapes wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Prototype</h3>
                    <p class="text-muted">Rome wasn't built in a day. Start small, work on your MVP. Test early, test frequently. Know your users.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Nourish</h3>
                    <p class="text-muted">We practice inclusivity. We treat others as we wish to be treated.</p>
                </div>
            </div>
        </div>
    </div>
</section>
